@import "var.scss";
.pilltag {
  color: #fff;
  background-color: #c9cfd635;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 6px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: bold;
  &.invert {
    color: #404a56;
    background-color: #a9b1bc35;
    border-radius: 3px;
    font-size: 11px;
    padding: 2px 7px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-family: regular;
  }
  i {
    margin-right: 3px;
  }
}

.blogPost {
  padding: 60px 0;
  @media (max-width: 1199px) {
    padding: 30px 0;
  }
  h1 {
    font-size: calc(2vw + 1em);
    font-family: title;
    margin: 0 0 20px;
  }
  .span {
    font-size: 16px;
    color: #676767;
    display: flex;
    align-items: center;
    i {
      margin-right: 5px;
    }
    .pipe {
      position: relative;
      top: 2px;
      width: 1px;
      height: 18px;
      background-color: #00000075;
      margin: 0 15px;
    }
  }
  .d-flex {
    @media (max-width: 1199px) {
      flex-direction: column;
      align-items: flex-start !important;
      .author {
        margin-top: 25px;
      }
    }
  }
  p {
    font-size: 18px;
    font-family: regular;
    font-weight: 300;
    color: #576779;
    line-height: 30px;
    margin: 15px 0;
    & ~ p {
      margin-top: 30px;
    }
  }
}

.blogImg {
  min-height: 85vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 60px 0;
  @media (max-width: 1199px) {
    margin: 30px 0;
  }
}
.shareSocial {
  margin: 15px 0;
  a {
    font-size: 16px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #eff2fc;
    color: #3e4265;
    text-decoration: none;
    transition: 0.12s ease;
    & ~ a
    {
      margin-left: 5px;
    }
    &:hover {
      background-color: $dark;
      color: #fff;
    }
  }
}
.card {
  box-shadow: none;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
  & > div {
    border: none;
  }
  .card-header {
    overflow: hidden;
    position: relative;
    padding: 0px;
    img {
      transition: 0.12s linear;
      transform: scale(1);
      width: 100%;
      aspect-ratio: 16 / 10;
      object-fit: cover;
    }
  }
  &:hover {
    .card-header {
      img {
        transform: scale(1.15);
      }
    }
  }

  .card-body {
    span {
      font-size: 10px;
      text-transform: uppercase;
      color: #898989;
      font-family: regular;
      letter-spacing: 1px;
      display: inline-block;
    }

    text-align: left;
    padding: 20px;

    h5 {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eee;
      a {
        transition: 0.12s linear;
        color: #333;
        text-decoration: none;
        font-family: title;
        &:hover {
          color: $dark;
        }
      }
    }

    .pname {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      margin: 0px;
      max-width: 100%;
      font-family: regular;
      color: #7b7b7b;
      font-size: 14px;
      line-height: 25px;
      margin: 0 0 30px;
    }
  }
}
.blogPerson {
  display: flex;
  align-items: center;
  margin-top: 15px;
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
  span {
    color: #8493a9 !important;
    font-family: title !important;
    font-size: 13px !important;
  }
}
.author {
  display: flex;
  align-items: center;
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 15px;
  }
  h6 {
    color: #8493a9;
    margin: 0 0 5px;
  }
  span {
    color: #000;
    font-family: title !important;
    font-size: 16px !important;
  }
}

.related {
  background-color: #eff2fc;
  padding: 75px 0;
}

.blog-contnent{
  background-color: #eff2fc;
}


.agent-slip {
  padding-bottom: 60px;
  width: 100%;
  @media (max-width:767px) {
    text-align: center;
  }
  .img-holder {
    padding-top: 100%;
    border: none;
  }
  .picture-box {
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
    @media (max-width:767px) {
      display: block;
      margin: 0 auto 15px;
    }
  }
  .d-flex{
    flex-wrap: wrap;
  }
  .bio {
    margin-bottom: 30px;
    @media (max-width:1199px) {
      text-align: left;
    }
    p {
      margin: 10px 0px 20px;
      @media (max-width:1199px) {
        font-size: 14px;
      }
    }
    a {
      display: block;
      font-family: regular;
      font-weight: 300;
      color: #7b7b7b;
      text-decoration: none;
      font-size: 16px;
      @media (max-width:1199px) {
        font-size: 14px;
      }
      &:hover {
        color: #000;
      }
    }
    .name-display {
      color: #1d1d1d;
      font-family: title;
      font-size: 34px;
      margin-bottom: 5px;
      @media (max-width:1199px) {
        font-size: 24px;
      }
    }
    .btn-default {
      margin-top: 30px;
    }
  }
  h6 {
    font-size: 20px;
    color: #1d1d1d;
    margin: 0px 0px 10px;
    @media (max-width:1199px) {
      font-size: 18px;
    }
  }
  h4 {
    font-size: 24px;
    color: #1d1d1d;
    font-family: title;
    margin: 0px 0px 15px;
    @media (max-width:1199px) {
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    margin: 0px 0px 20px;
    color: #535353;
    @media (max-width:1199px) {
      font-size: 14px;
    }
  }
  .social-links {
    display: inline-flex;
    margin-bottom: 30px;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      color: #fff;
      width: 40px;
      height: 40px;
      text-decoration: none;
      transition: 0.12s ease;
      & ~ a {
        margin-left: 10px;
      }
      &.fb {
        background-color: rgb(0, 73, 141);
        &:hover {
          background-color: rgb(0, 103, 199);
        }
      }
      &.lin {
        background-color: rgb(0, 99, 138);
        &:hover {
          background-color: rgb(0, 117, 184);
        }
      }
    }
  }
  .img-holder {
    border: none;
  }
  .ipost {
    padding-top: 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 0 15px;
    img
    {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .row.g-3
  {
    margin-left: -7px;
    margin-right: -7px;
    > div
    {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}

.blog-content
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}