@import "var.scss";

/* ----------- Property CARD START ---------- */
@import "pod.scss";
/* ----------- Property CARD END ---------- */

.explore {
  overflow: hidden;
  position: relative;
  .switch-btn {
    position: absolute;
    z-index: 1020;
    background-color: #fff;
    border: none;
    color: #000;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    &:active {
      background-color: $dark;
      color: #fff;
    }
    @media (min-width: 991px) {
      display: none;
    }
  }
  .flex-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .map-holder {
    position: relative;
    height: calc(100vh - 103px);
    width: calc(100% - 700px);
    @media (max-width: 1199px) {
      width: calc(100% - 400px);
    }
    @media (max-width: 991px) {
      width: 100%;
    }
    overflow: hidden;
    display: block;
    margin-left: auto;
    iframe {
      border: none;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
    }
  }

  .scrollable-container {
    height: calc(100vh - 103px);
    overflow-y: scroll;
    max-width: 700px;
    width: 100%;
    z-index: 1;
    position: relative;
    @media (max-width: 1199px) {
      max-width: 400px;
    }
    @media (max-width: 991px) {
      max-width: 100%;
      position: absolute;
      background-color: #fff;
      top: 0px;
    }
    &.freez {
      overflow: hidden;
    }
    &::-webkit-scrollbar {
      width: 7px;
      background-color: transparent;
      position: absolute;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f1f1f1;
      border-radius: 0px;
      transition: 0.2s linear;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: $light;
      }
    }
  }

  .listing {
    position: relative;
    .h-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      h2 {
        font-family: title;
        font-size: 24px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 1199px) {
          font-size: 18px;
        }
      }
    }
  }
  .filters-pallet {
    position: relative;
    height: calc(100vh - 103px);
    width: 100%;
    z-index: 15;
    background-color: #e7eaef;
    display: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 7px;
      background-color: transparent;
      position: absolute;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark;
      border-radius: 0px;
      transition: 0.2s linear;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &.visible {
      display: block;
    }
    h6 {
      font-size: 18px;
      font-family: bold;
      margin: 10px 0 20px;
    }
    .form-group {
      .d-flex {
        .select2 {
          width: 100% !important;
        }
      }
      label {
        display: block;
      }
    }
    @media (max-width: 1199px) {
      .btn-outline {
        font-size: 10px;
        line-height: 12px;
      }
    }
    .ar-checkbox {
      margin-bottom: 12px;
    }
  }

  .filters {
    position: sticky;
    top: 0px;
    z-index: 10 !important;
    background-color: #fff;
  }
  .filter-header {
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
    @media (max-width: 1199px) {
      // flex-wrap: wrap;
    }
    .form-group {
      margin: 0px;
    }
  }
  .spacer {
    padding: 10px;
    font-weight: 100;
    font-size: 12px;
    @media (max-width: 1199px) {
      padding: 5px;
    }
  }

  .sort-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 0 15px;
    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .prop-list {
    transition: 0.15s linear;
    position: relative;
    height: auto;
    .pad {
      padding: 0px 10px 10px;
    }
    .row.no-gutters {
      > div:nth-child(even) .pad {
        padding-left: 5px;
        @media (max-width: 1199px) {
          padding-left: 10px;
        }
      }
      > div:nth-child(odd) .pad {
        padding-right: 5px;
        @media (max-width: 1199px) {
          padding-right: 10px;
        }
      }
    }

    .property-holder {
      margin-bottom: 0;
    }
  }
}

.select2 {
  text-align: left;
  min-width: 130px;
}

.select2-results__options {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark;
    border-radius: 0px;
    transition: 0.2s linear;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(189, 220, 238);
  }
  li {
    display: block !important;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
    font-family: regular;
  }
}

.select2-container--default {
  .select2-selection--multiple,
  .select2-selection--single {
    background: #fff;
    height: 36px;
    outline: none;
    border: none;
  }
}
.select2-search {
  display: none;
}

.select2-dropdown.select2-dropdown--below {
  border: 1px solid $dark;
  border-radius: 0px;
  margin-top: 3px;
}

.select2-container {
  .selection {
    .select2-selection--multiple,
    .select2-selection--single {
      border: 1px solid #dadde0;
      border-radius: 0px;
    }
  }
  &:hover {
    .selection {
      .select2-selection--multiple,
      .select2-selection--single {
        border: 1px solid $light;
        // background-color: #f1f1f1;
        background-color: #fff;
      }
    }
  }
  &.select2-container--open {
    .selection {
      .select2-selection--multiple,
      .select2-selection--single {
        border: 1px solid $dark;
        // background-color: #f1f1f1;
        background-color: #fff;
      }
    }
  }
}
.select2-container.select2-container--default.select2-container--open,
.select2-dropdown {
  border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
  color: #333;
  font-family: regular;
  font-size: 14px;
}

.select2-selection__arrow b {
  border: none !important;
}

.select2-selection__arrow::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  z-index: 100;
  top: 6px;
  color: #323232;
  font-size: 16px;
  right: 8px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: $light;
  color: #fff;
  color: $dark;
  background-color: #e3e9ee;
}

.select2-dropdown {
  background-color: #fff;
  border: 1px solid #fff3e6;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #00447e;
  border: none;
  border-radius: 15px;
  margin-right: 5px;
  margin-top: 5px;
  color: #fff;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 2px 2.1px 2px 8px;
  line-height: 19px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  cursor: pointer;
  background: #d50000;
  color: #fff;
  border-radius: 15px;
  padding: 1px 4.5px 2px 4px;
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  margin-right: 0;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.searchBar {
  background-color: #e9ecef;
  padding: 10px;
  display: flex;
  align-items: center;
  .input-group {
    margin-right: 10px;
    .input-group-prepend {
      position: absolute;
      z-index: 10;
      left: 1px;
      top: 2px;
    }
    .input-group-text {
      background-color: #fff;
      border: none;
      border-radius: 0px;
      padding: 8px 10px;
    }
    .select2-search {
      display: block !important;
    }
    .select2-container .selection .select2-selection--multiple {
      padding-left: 35px !important;
    }
    .select2 {
      width: 100% !important;
    }
    .select2-container--default .select2-search--inline .select2-search__field {
      margin-top: 0px !important;
    }
  }
  .fields-group
  {
    display: flex;
    align-items: center;
    & + .fields-group
    {
      margin-left:10px;
    }
  }
  .form-group
  {
    margin-bottom: 0px;
    & + .form-group
    {
      margin-left:10px;
    }
  }
}
