@font-face {
  font-family: "regular";
  src: url("fonts/Product_Sans_Regular.ttf");
}
@font-face {
  font-family: "bold";
  src: url("fonts/Product_Sans_Bold.ttf");
}
@font-face {
  font-family: "title";
  src: url("fonts/MuseoSlab.ttf");
}
