@import "var.scss";

.panel {
  background-color: #fff;
  height: calc(100vh - 44px);
  .title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
    h1 {
      margin: 0px;
      font-size: 24px;
      font-family: title;
      display: inline-flex;
      .btn-sidebar
      {
        margin-right: 10px;
        padding:2px 7px 1px;
        font-size: 13px;
        border:1px solid #aaa;
        border-radius: 3px;
        @media (min-width:992px) {
          display: none;
        }
        &:hover
        {
          background-color:$dark;
          color:#fff;
          border-color:$dark;
        }
      }
    }
    > .btn {
      padding: 6px 10px 5px;
      font-size: 16px;
      i {
        margin: 0;
      }
    }
  }
  .split {
    display: flex;
    .sidebar {
      min-width: 220px;
      width: 220px;
      height: calc(100vh - 92px);
      border-right: 1px solid #ddd;
      @media (max-width: 991px) {
        position: absolute;
        z-index: 10;
        background: #fff;
        height: auto;
        display: none;
      }
      .compound {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
        h6 {
          font-size: 14px;
          font-family: bold;
          color: #565656;
          margin: 0 0 5px;
          padding: 0 20px;
        }
        a {
          padding: 5px 20px;
          font-family: regular;
          font-weight: 300;
          font-size: 14px;
          text-decoration: none;
          color: #111;
          &.action-link {
            color: $dark;
          }
          &:hover {
            background-color: aliceblue;
            color: $dark;
          }
        }
      }
    }
    .main-display {
      width: calc(100% - 220px);
      height: calc(100vh - 92px);
      @media (max-width: 991px) {
        width: 100%;
      }
      .nav-tabs {
        border-bottom: 1px solid #ddd !important;
        a {
          border: none;
          border-radius: 0px;
          font-weight: 300;
          font-size: 14px;
          font-family: regular;
          color: #111;
          &.active {
            border-bottom: 2px solid $dark;
            color: $dark;
          }
        }
      }
      .filter-bar {
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        justify-self: space-between;
        padding: 10px 10px;
        .search {
          display: inline-flex;
          align-items: center;
          padding: 3px 7px;
          border: 1px solid #ddd;
          background-color: #fff;
          i {
            margin-right: 5px;
            font-size: 14px;
          }
          input {
            outline: none;
            background-color: transparent;
            border: none;
            font-size: 14px;
          }
        }
        .form-control {
          border-radius: 0;
          box-shadow: none;
          height: 30px;
          padding: 1px 0 1px 5px;
          font-size: 14px;
        }
        .btn {
          padding: 0px 0px;
          height: 30px;
          min-width: 40px;
          border-radius: 3px;
          margin-left: 10px;
          font-size: 14px;
          i {
            margin: 0;
          }
        }
      }
      &.noTabs {
        .boxes {
          height: calc(100vh - 84px);
        }
        .view-box {
          height: calc(100vh - 84px);
        }
      }
      .boxes {
        height: calc(100vh - 182px);
        display: flex;
        position: relative;
      }
      .view-box {
        padding: 14px;
        height: calc(100vh - 182px);
        overflow-y: scroll;
        width: 100%;
        > .row {
          margin-left: -7px;
          margin-right: -7px;
          > div {
            padding-left: 7px;
            padding-right: 7px;
          }
        }
      }
      .map-holder {
        min-width: calc(100% - 460px);
        position: relative;
        @media (max-width: 767px) {
          position: absolute;
          width: 100%;
          z-index: 110;
          height: 100%;
        }
        iframe {
          height: 100%;
          width: 100%;
          border: none;
        }
      }
    }
  }
}

/* ----------- Property CARD START ---------- */
@import "pod.scss";
/* ----------- Property CARD END ---------- */

.property-holder {
  margin-bottom: 14px;
}

.workspace-scroll
{
  overflow: hidden;
  overflow-x: scroll;
}

.customer-workspace
{
  display: flex;
  margin-left:-5px;
  margin-right: -5px;
  .slotContainer
  {
    width: calc(100% / 3.2);
    min-width: calc(100% / 3.2);
    padding-left:5px;
    padding-right:5px;
    @media(max-width:1360px)
    {
      width: calc(100% / 3);
      min-width: calc(100% / 3);
    }
    @media(max-width:1280px)
    {
      width: calc(100% / 2.8);
      min-width: calc(100% / 2.8);
    }
    @media(max-width:1199px)
    {
      width: calc(100% / 2);
      min-width: calc(100% / 2);
    }
    @media(max-width:576px)
    {
      width: calc(100% / 1.2);
      min-width: calc(100% / 1.2);
    }
    @media(max-width:480px)
    {
      width: calc(100%);
      min-width: calc(100%);
    }
  }
  .slot
  {
    border:1px solid #ddd;
    // position: sticky;
    // z-index: 0;
    // top: 0px;

    .slot-title
    {
      font-size: 14px;
      font-family: bold; 
      font-family: title; 
      padding: 5px 10px;
      border-bottom:1px solid #ddd;
      background-color: #f7f8fa;
    }
    .slot-body
    {
      background-color: #f5faff;
      padding:10px 10px;
      min-height: 240px;
    }
  }
  .property-holder
  {
    margin-bottom: 0px;
    & ~ .property-holder
    {
      margin-top: 10px;
    }
  }
  .card
  {
    border:none;
    overflow: hidden;
    background-color: transparent;
    border-radius:0px;
    position: relative;
    z-index: 10;
    border-radius: 7px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 12%);
    // &.ui-sortable-helper
    // {
    //   z-index: 100 !important;
    // }
    & ~ .card
    {
      margin-top: 10px;
    }
    .card-header{
      background-color: transparent;
      padding:0px;
      border:none;
      img
      {
        border:none;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
      }
    }
    .card-body
    {
      background-color: #fff;
      padding:7px 10px;
      border:none;
      p
      {
        font-size: 13px;
      }
    }
  }
  .card + .dump
  {
    margin-top:10px;
  }
  .dump
  {
    background-color: #00000015;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 65%;
    border-radius: 7px;
  }
}

.btn-dark
{
  background-color: #232323;
  color:#fff;
  font-size:10px !important;
  border-radius: 50px;
  padding: 7px 15px 6px !important;
  text-transform: uppercase;
  font-family: bold;
  letter-spacing: 1px;
  border:none;
  &:hover
  {
    background-color: $dark;
  }
}



.modal-open {
  padding-right: 0px !important;
}

.modal-backdrop {
  backdrop-filter: blur(3px) !important;
  background-color: #00000080 !important;
}
.modal-backdrop.show {
  opacity: 1 !important;
}
.modal {
  padding-right: 0px !important;
  .modal-header {
    background-color: #e7eaee;
    padding: 7px 12px 4px;
    align-items: center;
    h4 {
      color: #000;
      font-size: 20px;
      font-family: title;
      margin: 0;
    }
    .close {
      background: none;
      font-size: 18px;
      margin: 0;
      padding: 0;
      opacity: 1;
      text-shadow: none;
      width: auto;
      height: auto;
      &:hover {
        color: red !important;
      }
    }
  }
  .modal-body {
    .form-group {
      margin-bottom: 15px;
      label {
        font-size: 13px;
        margin-top: 0px;
        font-family: bold;
      }
      .form-control {
        border: 1px solid #ccc;
        border-radius: 0px;
        font-size: 13px;
      }
    }
    .btn-theme {
      padding: 7px;
      color: #fff;
      transition: 0.12s linear;
      border-radius: 3px;
      font-size: 13px;
      min-width: 100px;
      text-transform: uppercase;
      font-family: bold;
      position: relative;
      background-color: $dark;
      &:hover {
        background-color: #33445d;
        color: #fff;
      }
    }

    select
    {
      min-height: 35px;
      font-size: 14px !important;
    }

    .search {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      max-width: 600px;
      width: 100%;
      padding: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0px;
      position: relative;
      &.light-text {
        background-color: #000;
        border: 1px solid #333;
        input {
          color: #fff;
        }
      }
      input {
        border: none;
        background-color: transparent;
        padding: 0px;
        width: 100% !important;
        flex-grow: 1 !important;
        outline: none;
        font-size: 14px;
        min-width: 275px;
        padding: 1px 12px 0px;
      }
      .btn {
        font-size: 14px;
        padding: 0px;
        border-radius: 0px;
        min-width: 10px;
        color: #fff !important;
        background-color: $dark;
        padding: 6px;
        min-width: 35px;
        i {
          position: relative;
          right: -1px;
        }
      }
    }
    .propSingle.selectedProp {
      display: flex;
      align-items: center;
      padding: 0px;
      transition: 0.1s linear;
      background-color: transparent;
      border-radius: 5px;
      img {
        margin-right: 10px;
        height: 85px;
        width: 85px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
      }
      .fa-user-circle {
        font-size: 32px;
        margin-right: 10px;
        & ~ .propInf {
          p {
            margin-bottom: 0px;
          }
        }
      }
      .propInf {
        h6 {
          font-family: bold;
          margin: 0px;
          font-size: 17px;
          position: relative;
          top: -2px;
        }
        p {
          font-size: 13px;
          margin: 0px 0 5px;
          font-family: regular;
          opacity: 0.7;
        }
        .status {
          font-family: regular;
          letter-spacing: 0.5px;
          font-size: 10px;
          text-transform: uppercase;
          color: #fff;
          padding: 3px 5px;
          border-radius: 3px;
          &.closed {
            background-color: red;
          }
          &.active {
            background-color: #00894d;
          }
          &.pending {
            background-color: #0086dd;
          }
        }
      }
      .btn-prime {
        margin-left: auto;
        font-size: 13px;
        min-width: 70px;
      }
    }
  }
}

.propResults {
  position: absolute;
  top: calc(100% + 15px);
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: #ffffffc7;
  backdrop-filter: blur(10px);
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  height: auto;
  max-height: 325px;
  overflow: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s ease;
  &.agentResults {
    max-height: 300px;
  }
  &.searching {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 5px) !important;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark;
    border-radius: 0px;
    transition: 0.2s linear;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .sticky-top {
    position: sticky;
    top: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3px;
  }
  .close {
    border: none;
    background: transparent;
    color: red;
    padding: 0px;
    font-size: 9px;
    font-family: "bold";
    z-index: 1;
    outline: none;
  }
  .propSingle {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.1s linear;
    background-color: transparent;
    border-radius: 5px;
    &:hover {
      background-color: #fff;
    }
    img {
      margin-right: 10px;
      height: 85px;
      width: 85px;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
    }
    .fa-user-circle {
      font-size: 32px;
      margin-right: 10px;
      & ~ .propInf {
        p {
          margin-bottom: 0px;
        }
      }
    }
    .propInf {
      h6 {
        font-family: bold;
        margin: 0px;
        font-size: 17px;
        position: relative;
        top: -2px;
      }
      p {
        font-size: 13px;
        margin: 0px 0 5px;
        font-family: regular;
        opacity: 0.7;
      }
      .status {
        font-family: regular;
        letter-spacing: 0.5px;
        font-size: 10px;
        text-transform: uppercase;
        color: #fff;
        padding: 3px 5px;
        border-radius: 3px;
        &.closed {
          background-color: red;
        }
        &.active {
          background-color: #00894d;
        }
        &.pending {
          background-color: #0086dd;
        }
      }
    }
    .btn-prime {
      margin-left: auto;
      font-size: 13px;
      min-width: 70px;
    }
  }
}

@media (min-width: 576px)
{
  .modal-dialog {
      max-width: 800px;
  }
}