@import "var.scss";
.sell
{
    .sellBanner
    {
        background-color: $light;
        margin: 15px 15px 0;
        h1{
            color:#fff;
            padding: 100px 0 15px;
        }
    }
    img
    {
        transform: translateY(-30%);
        position: relative;
        z-index: 1;
        margin-bottom: -50px;
        @media(max-width:1199px){
            transform: translateY(0%);
            margin-top: 50px;
        }
    }
    .form-group {
        label
        {
            font-family: title;
            font-size: 14px;
        }
        .form-control
        {
            border:1px solid #ddd;
            background-color: #f1f3f6;
            border-radius:0px;
        }
    }
}