@import "var.scss";
@import "fonts.scss";
@import "reset.scss";

.showings-cards {
  padding: 15px 0;
}
.sh-card {
  position: relative;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  overflow: hidden;
  &.fluid {
    border-radius: 0px;
    box-shadow: none;
  }
  .sh-display {
    position: relative;
    padding-top: 60%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .sh-info {
    padding: 15px;
    h6 {
      font-size: 17px;
      font-family: title;
      color: #000;
      margin: 0;
      line-height: 14px;
    }
    span {
      color: #80878f;
      font-size: 13px;
    }
    .date {
      color: $dark;
      font-size: 14px;
      font-family: bold;
      display: block;
      margin: 0 0 15px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 15px;
      li {
        flex-grow: 1;
        text-align: center;
        padding: 5px;
        background-color: #f1f3f5;
        border-radius: 5px;
        width: 100%;
        max-width: calc(33% - 5px);
        font-size: 14px;
      }
    }
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      color: #80878f;
      margin: 0 0 5px;
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
      strong {
        color: #000;
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      a {
        flex-grow: 1;
        text-align: center;
        display: inline-block;
        padding: 9px;
        color: #fff;
        text-decoration: none;
        transition: 0.12s linear;
        border-radius: 3px;
        width: 50%;
        max-width: calc(50% - 10px);
        font-size: 12px;
        text-transform: uppercase;
        font-family: bold;
        position: relative;
        i {
          margin-right: 3px;
        }
        &:first-child {
          background-color: $light;
          &:hover {
            background-color: $dark;
            color: #fff;
          }
        }
        &:last-child {
          background-color: #33445d;
          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
        & ~ a {
          &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: -10px;
            height: 100%;
            width: 1px;
            background-color: #ededed;
          }
        }
      }
    }
  }
}

.gallary {
  overflow: hidden;

  .carousel-item {
    position: relative;
    padding-top: 54%;
    img {
      object-fit: cover;
      object-position: center;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .carousel-control-prev {
    left: 0px;
  }

  .carousel-control-next {
    right: 0px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    z-index: 1;
    background-color: #111;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: 0.1s linear;

    @media (max-width: 991px) {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }

    &.disabled {
      display: none;
    }

    &:hover {
      opacity: 1;
      color: #fff;
      background-color: $dark;
    }
  }
}

.fixed-btns {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  .btn-toggle {
    background-color: #33445d;
    color: #fff;
    font-size: 17px;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    i {
      transition: 0.1s linear;
    }
    &.active {
      background-color: rgb(174, 0, 0) !important;
      i {
        transform: rotate(45deg);
      }
    }
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .btn-camera {
    position: relative;
    background-color: $dark;
    color: #fff;
    font-size: 17px;
    border-radius: 50px;
    transition: .07s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
    top:47px;
    opacity: 0;
    z-index: 1;
    &.pop
    {
      top: 0px;
      visibility: visible;
      opacity: 1;
    }
  }
  .btn-notes {
    position: relative;
    background-color: rgb(0, 146, 73);
    color: #fff;
    font-size: 17px;
    border-radius: 50px;
    transition: .12s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
    top:94px;
    transition-delay: .02s;
    opacity: 0;
    z-index: 1;
    &:hover
    {
      background-color: rgb(0, 118, 59);
    }
    &.pop
    {
      top: 0px;
      opacity: 1;
      visibility: visible;
    }
  }
  .btn
  {
    height: 40px;
    width: 40px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
  }
}

.description
{
  p
  {
    border:none !important;
  }
}