@import "var.scss";

.ar-signer {
  min-height: calc(100vh - 45px);
  .media-box {
    min-height: calc(100vh - 45px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0px 50px;
    position: relative;
    @media (max-width:991px) {
      min-height: 30vh;
      text-align: center;
      justify-content: center;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: #000;
      height: 100%;
      width: 100%;
      opacity: 0.25;
      display: none;
    }
    &.login-bg
    {
      background-image: url("../images/home.jpg");
    }
    &.register-bg
    {
      background-image: url("../images/house.jpg");
      &::after
      {
        opacity: .55;
      }
      h1
      {
        span
        {
          margin-left:-5px;
        }
      }
    }
    h1 {
      position: relative;
      z-index: 10;
      margin: 0px 0 30px;
      font-family: regular;
      font-weight: 100;
      line-height: 60px;
      font-size: 40px;
      padding-left: 15px;
      text-transform: uppercase;
      display: none;
      @media (max-width:991px) {
        line-height: 35px;
        font-size: 20px;
      }
      span {
        font-family: title;
        display: block;
        font-size: 75px;
        margin-left: -10px;
        @media (max-width:991px) {
          font-size: 32px;
          margin-left: 0px;
        }
      }
    }
  }
  .form-box
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 45px);
    justify-content: center;
    @media (max-width:991px) {
      min-height: 300px;
      padding:30px 0;
    }
  }
  .or {
    width: 100%;
    height: 1px;
    background: #eee;
    display: block;
    clear: both;
    border: none;
    margin: 20px 0px;
  }
  h2 {
    text-align: center;
    margin: 0px;
    font-size: 32px;
    font-family: title;
    text-transform: uppercase;
    color: #1d1d1d;
    @media (max-width:991px) {
      font-size: 24px;
    }
  }
  .form-holder {
    display: block;
    margin: 30px auto 0px;
    max-width: 400px;
    width: 100%;
    background: #fff;
    &.registerForm
    {
      max-width: 600px;
    }
    @media (max-width:991px) {
      padding: 0px 15px;
    }
    .form-control {
      font-size: 14px;
      height: 40px;
      border-radius: 3px;
      border:none;
      box-shadow:none;
      background-color:#e7eef2;
      border:1px solid #c8d4da;
      border-radius: 50px;
    }
    label {
      font-size: 14px;
      margin:0px;
    }
    .remember {
      .custom-checkbox {
        label {
          font-size: 14px;
        }
      }
      a {
        font-size: 13px;
        float: right;
        padding: 3px 0px 0px;
      }
    }
    a {
      color: #000;
      &:hover {
        color: $dark;
      }
    }
    .btn-primary {
      width: 100%;
      display: block;
      margin: 10px 0px 0px;
      font-size: 15px;
    }
    .btn {
      display: block;
      width: 100%;
      color: #fff;
      font-size: 14px;
      margin: 15px 0px;
      padding: 8px;
      clear: both;
      border-radius: 50px;
      i {
        margin-right: 8px;
      }
      &:hover {
        color: #fff !important;
      }
    }
    .btn-fb {
      background: #3b5998;
    }
    .btn-twitter {
      background: #00acee;
    }
    p {
      font-size: 13px;
      text-align: center;
      a {
        margin-left: 8px;
      }
    }
  }
}
